- if @oven.cookies.count > 0
  In oven: #{pluralize(@oven.cookies.count, 'cookie')} with #{@oven.cookies[0].fillings? ? @oven.cookies[0].fillings : "no fillings"}
  - if @oven.cookies[0].ready?
    (Your Cookie is Ready)
    = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
  - else
    %i (Stay put we'll let you know when it's ready)