%h3= @oven.name

.cookie-info
  - if @oven.cookies.count > 0
    = render_async check_oven_path(@oven), interval: 30000 
  - else
    Cookie in oven: None
    %br
    = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
